<form [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>Payment Period in years</mat-label>
    <mat-select formControlName="year">
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
    <mat-error>Payment period is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Interest in %</mat-label>
    <input
      [value]="formGroup.get('interest').value | percentformat"
      matInput
      formControlName="interest"
    />
    <mat-error *ngIf="formGroup.get('interest')?.errors?.required"
      >Interest is required.</mat-error
    >
    <mat-error *ngIf="formGroup.get('interest')?.errors?.validatePercent"
      >Interest should be positive and with max 2 decimal value.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pricipal Amount</mat-label>
    <input
      [value]="formGroup.get('principal').value | dollarformat"
      matInput
      formControlName="principal"
    />
    <mat-error *ngIf="formGroup.get('principal')?.errors?.required"
      >Principal Amount is required.</mat-error
    >
    <mat-error *ngIf="formGroup.get('principal')?.errors?.validateAmount"
      >Principal Amount should be positive and with 2 decimal places.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number of months to save for downpayment</mat-label>
    <mat-select formControlName="month">
      <mat-option *ngFor="let month of months" [value]="month">
        {{ month }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Downpayment amount you want to set aside every month</mat-label>
    <input
      matInput
      [value]="formGroup.get('amountPerMonth').value | dollarformat"
      formControlName="amountPerMonth"
    />
    <mat-error *ngIf="formGroup.get('amountPerMonth')?.errors?.validateAmount"
      >Downpay Amount should be positive and with 2 decimal places.</mat-error
    >
  </mat-form-field>
</form>
